* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    color:white;
    font-family: "Montserrat", "Helvetica Neue";
    box-sizing: border-box;
    line-height: 1.5;
    
  
}
nav{
    position: fixed;
    width:100%;
    display: inline-flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    height: 5vh;
    line-height: 5vh;
    opacity:.7;
}
nav:hover{
    opacity: 1;
}
nav a{
    text-decoration: none;
    color:white;
    display:inline-flex;
}
    #hero{ background: red; }
    #main{ background: whitesmoke; }
    #resume{ background:lightgray;}
    #footer{ background:red; }
    nav{background:black;}

    .wrapper {
      display: flex;
      flex-flow: row wrap;
    }
#hero{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:5vh;
}
 #hero, #main,#resume, #footer {
      flex: 3 100%;
    }

#hero p{
    font-family: "Kaushan Script";
    font-size:6vw;
    line-height: 6vw;
}
#hero2{
    order:-1;
}
#main, #resume {
    color:black;
    text-align: left;
}
#main p {
            margin-left: 16vw;
        }
#main img{
    float:left;
    margin:0 3vw 4vw 2vw;
}
#resume img{
    float:left;
    margin: 0 3vw 2vw 2vw;
}
#resume ul,li{
    margin: 2vw;
    clear:both;
    line-height: 1;
    
}
#footer{
    text-align: center;
    line-height: 1vh;
}
#footer a{
    text-decoration:none;
    color:white;
}
   /* medium screen */
    @media all and (min-width: 600px) and (max-width:900px){
        #main{
           display:flex;
            flex-flow:row wrap;
           justify-content: space-around;
        
    }
        #main div{
            width:33.3%;
            margin:3vw;
        }
    
        #main p {
            margin: 5vw;
        }
        #resume li{
            margin-left: 5vw;
        
        }
}
@media all 
  and (min-width: 900px) { 
      #main{
           display:flex;
            flex-flow:row wrap;
           justify-content: space-around;
        
    }
      #main div{
          width:33.3%;
          margin:3vw 0 2vw 0;
          
      }
      #main p {
            margin: 5vw;
        }
}

