* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    color:white;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    line-height: 1.5;
    
  
}
h4{
    font-family: 'Montserrat', sans-serif;
}
nav{
    position:fixed;
    min-width:100%;
    
    height: 10vh;
    
    opacity:.7;
    z-index: 1000;
    display: inline-flex;
    justify-content: space-between;
}
#namelogo{
    height: 10vh;
    line-height: 10vh;
    width:20%;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 4vw;
    margin-left:3vw;
}
nav:hover{
    opacity: 1;
}
#nav-container{
     position: relative;
    float: right;
     width:50%;
    
    height: 10vh;
    display: inline-flex;
    justify-content: space-around;
    

}
nav a{
   
    
    color:white;
    display: inline-block;
    text-decoration: none;
    line-height: 10vh;
    
}


    #hero{ background: #3783D7; }
    #main{ background: whitesmoke; }
    #resume{ background:lightgray;}
    #footer{ background:#3783D7; }
    nav{background:black;}

    .wrapper {
      display: flex;
      flex-flow: row wrap;
    }
#hero{
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:10vh;
    position: relative;
    -webkit-transition: background-color 0.5s ease-out; 
       
}
#footer{
    -webkit-transition: background-color 0.5s ease-out; 
}
 #hero, #main,#resume, #footer {
      flex: 3 100%;
    }

#hero p{
    
    bottom:0;
    font-family: "Kaushan Script";
    font-size:6vw;
    line-height: 6vw;
}
#hero2{
    order:-1;
}
/*
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 118%, 0% 62%);
*/
#main, #resume {
    color:black;
    text-align: left;
    position: relative;
}
#main p {
            margin-left: 16vw;
        }
#main img{
    float:left;
    margin:0 3vw 4vw 2vw;
}
#resume img{
    float:left;
    margin: 0 3vw 2vw 2vw;
}
#resume ul,li{
    margin: 2vw;
    clear:both;
    line-height: 1;
    
}
#footer{
    text-align: center;
    line-height: 1vh;
}
#footer a{
    text-decoration:none;
    color:white;
}
   /* medium screen */
    @media all and (min-width: 600px) and (max-width:900px){
        #main{
           display:flex;
            flex-flow:row wrap;
           justify-content: space-around;
        
    }
        #main div{
            width:33.3%;
            margin:3vw;
        }
    
        #main p {
            margin: 5vw;
        }
        #resume li{
            margin-left: 5vw;
        
        }
}
@media all 
  and (min-width: 900px) { 
      #main{
           display:flex;
            flex-flow:row wrap;
           justify-content: space-around;
        
    }
      #main div{
          width:33.3%;
          margin:3vw 0 3vw 0;
          
      }
      #main h4{
          margin-left:10vw;
      }
      #main p {
            margin-left:10vw;
            margin-right:10vw;
        }
}

